<ion-content>
  <div class="blue"></div>

  <div class="pink"></div>

  <div class="grey"></div>
  

  
  <h2>Platonia</h2>

  <h5>Find The Perfect Hang-out</h5>

  <ion-card class="card-des">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-button class="card-button" href="activity" >View</ion-button>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end"  slot="fixed">
  
    <ion-fab-button class="fabular">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  
  </ion-fab>

</ion-content>
