<ion-content>


  <div class="grey">
    <ion-fab-button href="/tabs" size="small" color="dark" style="margin-top: -5px; margin-left: -6px;" >
      <ion-icon name="close-circle-outline" size="large"></ion-icon>
    </ion-fab-button>
  </div>


  <h2>Platonia</h2>

  <div class="blue"></div>
  <div class="divvy">
    <ion-item lines="none">
      <ion-icon name="person-outline" style="font-size:27px;"></ion-icon>
      <h5>Edit Profile</h5>
    </ion-item>
  </div>


  <form action="">
  <ion-item lines="none">
    <ion-label class="primarylabel">Name:</ion-label>
    <input type="text" class="short-input" value="John Doe">

  </ion-item>

  <ion-item lines="none">
    <ion-label class="primarylabel">Email:</ion-label>
    <input type="text" class="short-input" value="">

  </ion-item>

  <ion-item lines="none">
    <ion-label class="primarylabel">Age:</ion-label>
    <input type="text" class="short-input" value="">

  </ion-item>

  <ion-item lines="none">
    <ion-label class="primarylabel">Gender:</ion-label>
    <input type="text" class="short-input" value="">

  </ion-item>


  <ion-label class="primarylabel" style="margin-left: 15px;">Interests:</ion-label><br>

    <textarea name="" id="" cols="30" rows="10" class="input-r"></textarea>

  




  <div class="pink"></div>
  <ion-button href="tabs/profile">Save</ion-button>
</form>
  <div class="green"></div>


</ion-content>