<ion-content>


  <div class="grey"></div>


  <h2>Platonia</h2>

  <div class="blue"></div>
  <div class="divvy">
    <ion-item lines="none">
      <ion-icon name="person-outline" style="font-size:27px;"></ion-icon>
      <h5>Edit Profile</h5>
    </ion-item>
  </div>


  <form action="POST">
  <ion-item lines="none">
    <ion-label class="primarylabel">Name:</ion-label>
    <input type="text" class="short-input" value="John Doe">

  </ion-item>

  <ion-item lines="none">
    <ion-label class="primarylabel">Email:</ion-label>
    <input type="text" class="short-input" value="">

  </ion-item>

  <ion-item lines="none">
    <ion-label class="primarylabel">Age:</ion-label>
    <input type="text" class="short-input" value="">

  </ion-item>

  <ion-item lines="none">
    <ion-label class="primarylabel">Gender:</ion-label>
    <input type="text" class="short-input" value="">

  </ion-item>


  <ion-label class="primarylabel" style="margin-left: 15px;">Interests:</ion-label><br>
  <!-- <div > -->
    <textarea name="" id="" cols="30" rows="10" class="input-r"></textarea>
    <!-- <ion-label>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet quae esse quo architecto tenetur alias
      minima. Modi, voluptas deserunt, quae, quisquam provident neque asperiores unde veritatis maxime repellat ipsum
      sapiente!</ion-label> -->
  <!-- </div> -->
  </form>




  <div class="pink"></div>
  <ion-button href="tabs/profile">Save</ion-button>
  <div class="green"></div>


</ion-content>