<ion-content>

  <div class="pink"></div>

  <div class="grey"></div>
  
  <div class="blue"></div>
  
  <h2>Platonia</h2>
  
  <h5>Register</h5>
  
  <p>Register your account</p>

  <ion-item lines="none">
    <ion-label position="stacked" class="label">@ Email</ion-label>
    <ion-input class="input" type="email"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="stacked" class="label">Password</ion-label>
    <ion-input class="input" type="password"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="stacked" class="label">Confirm Password</ion-label>
    <ion-input class="input" type="password"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="stacked" class="label">Name</ion-label>
    <ion-input class="input" type="text"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="stacked" class="label">Age</ion-label>
    <ion-input class="input" type="text"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="stacked" class="label">Gender</ion-label>
    <ion-input class="input" type="text"></ion-input>
  </ion-item>

  <div class="sign">
    <ion-button expand="block">Register</ion-button>
    <p class="par">Already Have an account? <a href="home">Go Back</a></p>
    </div>

</ion-content>

